[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gertkommer
[access "refs/for/refs/*"]
	read = group user/gertkommer
	push = group user/gertkommer
	label-Code-Review = -2..+2 group user/gertkommer
	label-Verified = -1..+1 group user/gertkommer
	rebase = group user/gertkommer
	removeReviewer = group user/gertkommer
	submit = group user/gertkommer
[access "refs/heads/*"]
	read = group user/gertkommer
	create = group user/gertkommer
	push = +force group user/gertkommer
	pushMerge = group user/gertkommer
[access "refs/tags/*"]
	push = +force group user/gertkommer
	pushTag = group user/gertkommer
	pushSignedTag = group user/gertkommer
